{%-liquid
	assign image = article.image
 -%}
<article class="{% if section.settings.center_slide == true %} t4s-col-6 {% endif %} t4s-col-item t4s-article-item">
	<div class="t4s-article-thumb t4s-pr t4s-eff t4s-eff-{{ b_effect }} t4s-eff-img-{{ img_effect }}" timeline hdt-reveal="slide-in">
		<a class="t4s-article-img t4s-d-block" href="{{ art_url }}">
			<div
				class="t4s_ratio"
				style="--{{ imgatt }}aspect-ratioapt: {{ image.aspect_ratio | default: 1.7777 }}"
				data-cacl-slide>
				{%- if image != blank -%}
					<img class="lazyloadt4s t4s-lz--fadeIn t4s-obj-eff" data-src="{{ image | image_url: width: 1 }}" data-widths="[100,200,400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}" loading="lazy">
					<span class="lazyloadt4s-loader is-bg-img" style="background: url({{ image | image_url: width: 1 }});"></span>
				{%- else -%}
					{{ 'image' | placeholder_svg_tag: 't4s-placeholder-svg t4s-obj-eff' }}
				{%- endif -%}
			</div>
		</a>
	</div>
	<div class="t4s-article-info t4s-pa t4s-l-0 t4s-b-0 t4s-r-0 t4s-w-100 t4s-article-info-alternative t4s-text-center {% if show_readmore %} t4s-has-readmore{% endif %}">
		<div class="t4s-article-metas ">
			{%- if show_tag -%}
				{%- if article.tags.size > 0 -%}
					<div class="t4s-article-tags">
						{%- for tag in article.tags limit: 5 -%}
							<a href="{{ blogs_url }}/tagged/{{ tag | handle }}">{{ tag | remove: 'category_' | remove: 'blog_' | strip }}</a>
							{%- unless forloop.last -%}
								<span class="t4s-seperate"></span>
							{% endunless -%}
						{%- endfor -%}
					</div>
				{%- endif -%}
			{%- endif -%}
			{%- if show_comment -%}
				<div class="t4s-article-comments">
					{%- if article.comments_count > 0 %}
						{% assign cm_link = '#comments' %}
					{% else %}
						{% assign cm_link = '#comment_form' %}{% endif -%}
					<a href="{{ art_url }}{{ cm_link }}">{{ 'blogs.comments.with_count' | t: count: article.comments_count }}</a>
				</div>
			{%- endif -%}
		</div>
		{%- if show_date -%}
			<div class="t4s-article-time">
				<time class="t4s-entry-date">
					{%- if date_format contains "%" -%}
						{{ article.published_at | time_tag: date_format }}
					{%- else -%}
						{{ article.published_at | time_tag: format: date_format }}{%- endif -%}
				</time>
			</div>
		{%- endif -%}
		<h3 class="t4s-article-title">
			<a href="{{ art_url }}" class="t4s-pr">{{ article.title }}</a>
		</h3>
		{%- if show_author -%}
		<div class="t4s-article-author">
			<span class="t4s-article-author__by">{{ by }}
			</span>
			<span class="t4s-article-author__name">
				{{ article.author | replace_first: 'ad clnt', 'admin' }}</span>
		</div>
		{%- endif -%}
		{%- if show_readmore -%}
			<a href="{{ art_url }}" class="t4s-article-readmore">{{ 'blogs.article.read_more' | t }}
			</a>
		{%- endif -%}
	</div>
</article>