{%- comment -%}
    Renders a form newsletter

    Accepts: 
    - form_id: {String} Form's id attribute for accessibility purpose (required)
    - layout: '1', '2' (optional)
    - html:          (optional)
    - margin:        (optional)
    - class:         (optional)
    - styleInline:   (optional)
    - buttonIcon:   (optional)
    
    Usage: 
    {%- render 'newsletter', form_id: formId, layout: -%}
{%- endcomment -%}

{%- liquid
  unless form_id
    assign form_id = 'newsletter'
  endunless
  unless html
    assign html = 'p'
  endunless
  assign checkbox_mail = settings.checkbox_mail
  if layout == '10'
    assign class_email = 't4s-col-md t4s-col-12'
    assign class_btn = 't4s-col-md-auto t4s-col-12'
    assign class_ip = ''
  else
    assign class_email = 't4s-col'
    assign class_btn = 't4s-col-auto' 
    assign class_ip = ''
  endif
  unless required_ck
    assign required_ck = 'on'
  endunless -%}

{%- capture conditions_mail -%}
  {%- if checkbox_mail -%}
    <div class="t4s-clearfix"></div>
    {%- assign page_url = pages[settings.link_mail].url -%}
    <{{ html }} class="t4s-agree__checkbox t4s-pr t4s-d-inline-block {{ margin }}">
      <input type="checkbox" id="t4s-agree_{{ form_id }}" name="t4s-agree_{{ form_id }}"{% if required_ck == 'on' %} data-agreeMail-checkbox required="required"{% endif %}>
      <label for="t4s-agree_{{ form_id }}">{% if page_url != blank %}{{ 'sections.agree_mail.link_conditions_html' | t: link: page_url }}{% else %}{{ 'sections.agree_mail.link_conditions_emty' | t }}{% endif %}</label>
      <svg class="t4s-dn t4s-icon_checked" viewBox="0 0 24 24"><path d="M9 20l-7-7 3-3 4 4L19 4l3 3z"></path></svg>
    </{{ html }}>
  {%- endif -%}
{%- endcapture -%}

{%- if btn_content == blank and buttonIcon == 'none' -%}
    {%- assign btn_content = 'sections.newsletter_form.submit' | t -%}
{%- endif -%}

{%- capture icon_Html -%}
  {%- if buttonIcon == "mail" -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"/></svg>
  {%- elsif buttonIcon == "plane" -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><path d="M0 288L512 0 448 480 271.8 404.5 208 512l-48-16V416 384L384 160 133 345 0 288z"/></svg>  {%- elsif buttonIcon == 'none' -%}
  {%- elsif buttonIcon == "arrow" -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="18" viewBox="0 0 34 18" fill="currentColor"><path d="M1 9H33M33 9L25 1M33 9L25 17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
    {%- elsif buttonIcon == "long-arrow" -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="16" viewBox="0 0 23 16" fill="none">
      <path d="M1 8H22M22 8L15.1852 1M22 8L15.1852 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
  {%- elsif buttonIcon == 'none' -%}
  {%- endif -%}
{%- endcapture -%}

{%- case settings.platform_email -%}
  {%- when '3' -%}//?/////////?
      <form data-t4s-klaviyo-form data-form-mail-agree id="t4s-form-{{ form_id }}" class="t4s-pr t4s-z-100 t4s-newsletter__form is--klaviyo" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET"{% if settings.ajax_klaviyo and settings.klaviyo_list_id != blank %} data-t4s-klaviyo-ajax{% endif %} timeline hdt-reveal="slide-in">
        <input type="hidden" name="g" value="{{ settings.klaviyo_list_id }}">
        <div class="t4s-newsletter__fields">
           <div class="t4s-newsletter__inner t4s-row t4s-g-0 t4s-pr t4s-oh {{ class }}">
              <div class="{{ class_email }} t4s-col-item is--col-email"><input type="email" name="email" placeholder="{{ 'sections.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="{{ class_ip }} t4s-newsletter__email" required="required"></div>
              <div class="{{ class_btn }} t4s-col-item is--col-btn">
                <button {{ aria_label_btn }} data-t4s-klaviyo-submit data-agreeMail-btn type="submit" class="t4s-w-100 t4s-newsletter__submit t4s-truncate t4s-btn-loading__svg">
                  <span class="t4s-newsletter__text">{{ icon_Html }}{{ btn_content }}</span>
                  <span class="t4s-loading__spinner t4s-dn">
                    <svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                  </span>
                </button>
              </div>
           </div>
           {{- conditions_mail -}}
        </div>
       <div class="t4s-newsletter__response klaviyo_messages">
         <div class="t4s-newsletter__success success_message t4s-dn" style="display:none"><svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M443.3 100.7C449.6 106.9 449.6 117.1 443.3 123.3L171.3 395.3C165.1 401.6 154.9 401.6 148.7 395.3L4.686 251.3C-1.562 245.1-1.562 234.9 4.686 228.7C10.93 222.4 21.06 222.4 27.31 228.7L160 361.4L420.7 100.7C426.9 94.44 437.1 94.44 443.3 100.7H443.3z"/></svg>{{ 'sections.newsletter_form.confirmation' | t }}</div>
         <div class="t4s-newsletter__error error_message t4s-dn" style="display:none"></div>
       </div>
      </form>

  {%- when '4' -%}
     <form id="t4s-form-{{ form_id }}" data-form-mail-agree role="form" action="{%- if settings.ajax_mailChimp -%}{{ settings.action_mailchimp | replace: '/post?u', '/post-json?u' }}{%- else -%}{{ settings.action_mailchimp }}{%- endif -%}" class="t4s-pr t4s-z-100 t4s-newsletter__form is--mailChimp" method="post"{%- if settings.ajax_mailChimp and settings.action_mailchimp != blank %} data-t4s-mailChimp-ajax{%- endif -%} timeline hdt-reveal="slide-in">
        <div class="t4s-newsletter__fields">
           <div class="t4s-newsletter__inner t4s-row t4s-g-0 t4s-pr t4s-oh {{ class }}">
              <div class="{{ class_email }} t4s-col-item is--col-email"><input type="email" name="EMAIL" placeholder="{{ 'sections.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="{{ class_ip }} t4s-newsletter__email" required="required"></div>
              <div class="{{ class_btn }} t4s-col-item is--col-btn">
                <button {{ aria_label_btn }} data-t4s-mailChimp-submit data-agreeMail-btn type="submit" class="t4s-w-100 t4s-newsletter__submit t4s-truncate t4s-btn-loading__svg">
                <span class="t4s-newsletter__text">{{ icon_Html }}{{ btn_content }}</span>
                <span class="t4s-loading__spinner t4s-dn">
                  <svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                </span>
              </button>
            </div>
           </div>
           {{- conditions_mail -}}
        </div>
        <div data-new-response-form class="t4s-newsletter__response">
          <div data-new-response-success class="t4s-newsletter__success t4s-dn" style="display:none"><svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M443.3 100.7C449.6 106.9 449.6 117.1 443.3 123.3L171.3 395.3C165.1 401.6 154.9 401.6 148.7 395.3L4.686 251.3C-1.562 245.1-1.562 234.9 4.686 228.7C10.93 222.4 21.06 222.4 27.31 228.7L160 361.4L420.7 100.7C426.9 94.44 437.1 94.44 443.3 100.7H443.3z"/></svg>{{ 'sections.newsletter_form.confirmation' | t }}</div>
          <div data-new-response-error class="t4s-newsletter__error t4s-dn" style="display:none"></div>
        </div>
     </form>

  {%- else -%}

     {%- assign form_id = 't4s-form-' | append: form_id -%}
     {%- form 'customer', class: 't4s-pr t4s-z-100 t4s-newsletter__form', id: form_id, data-form-mail-agree: '' -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="t4s-newsletter__fields" timeline hdt-reveal="slide-in">
           <div class="t4s-newsletter__inner t4s-row t4s-g-0 t4s-pr t4s-oh {{ class }}">
              <div class="{{ class_email }} t4s-col-item is--col-email"><input type="email" name="contact[email]" placeholder="{{ 'sections.newsletter_form.email_placeholder' | t }}"  value="{% if customer %}{{ customer.email }}{% endif %}" class="{{ class_ip }} t4s-newsletter__email" required="required"></div>
              <div class="{{ class_btn }} t4s-col-item is--col-btn">
                <button {{ aria_label_btn }} data-agreeMail-btn type="submit" class="t4s-w-100 t4s-newsletter__submit t4s-truncate t4s-btn-loading__svg">
                  <span class="t4s-newsletter__text">{{ icon_Html }}{{ btn_content }}</span>
                  <span class="t4s-loading__spinner t4s-dn">
                    <svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                  </span>
                </button>
              </div>
           </div>
           {{- conditions_mail -}}
        </div>
         <div data-t4s-response-form data-new-response-form class="t4s-newsletter__response">
            {%- if form.posted_successfully? -%}
            <div class="t4s-newsletter__success"><svg width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M443.3 100.7C449.6 106.9 449.6 117.1 443.3 123.3L171.3 395.3C165.1 401.6 154.9 401.6 148.7 395.3L4.686 251.3C-1.562 245.1-1.562 234.9 4.686 228.7C10.93 222.4 21.06 222.4 27.31 228.7L160 361.4L420.7 100.7C426.9 94.44 437.1 94.44 443.3 100.7H443.3z"/></svg>{{ 'sections.newsletter_form.confirmation' | t }}</div>
            {%- elsif form.errors -%}
            <div class="t4s-newsletter__error">{{ form.errors | default_errors }}</div>{%- endif -%}
         </div>
     {%- endform -%}

{%- endcase -%}