<div data-countdown-wrap class="t4s-product-countdown t4s-pr-countdown1 t4s-pe-none">
	<span class="t4s-pr-countdown" data-countdown-t4s data-date="{{countdown}}">
  <span class="t4s-countdowm-child t4s-countdown-days">
      <span class="t4s-cd-number">%-D</span>
      <span class="t4s-cd-text">%!D:{{ "products.product_card.countdown_text.day" | t }},{{ "products.product_card.countdown_text.day_plural" | t }};</span>
  </span>
  <span class="t4s-countdowm-child t4s-countdown-hours">
      <span class="t4s-cd-number">%H</span> 
      <span class="t4s-cd-text">%!H:{{ "products.product_card.countdown_text.hr" | t }},{{ "products.product_card.countdown_text.hr_plural" | t }};</span>
  </span>
  <span class="t4s-countdowm-child t4s-countdown-min">
      <span class="t4s-cd-number">%M</span> 
      <span class="t4s-cd-text">%!M:{{ "products.product_card.countdown_text.min" | t }},{{ "products.product_card.countdown_text.min_plural" | t }};</span>
  </span>
  <span class="t4s-countdowm-child t4s-countdown-sec">
      <span class="t4s-cd-number">%S</span> 
      <span class="t4s-cd-text">%!S:{{ "products.product_card.countdown_text.sec" | t }},{{ "products.product_card.countdown_text.sec_plural" | t }};</span>
  </span>
	</span>
</div>