<div class="t4s-testimonial-wrap" timeline t4s-reveal="slide-in">
  <div class="t4s-rating t4s-d-flex t4s-rate-{{ block.settings.rating }} t4s-justify-content-{{ section.settings.testimonial_content }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
      <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
      <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
      <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
      <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
      <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
    </svg>
  </div>
  {% if block.settings.heading != blank %}
    <h3 class="t4s-testimonial-heading">{{ block.settings.heading }}</h3>
  {% endif %}
  {% if block.settings.content != blank %}
    <div class="t4s-testimonial-content t4s-rte t4s-pr">  
    {{ block.settings.content }}
  </div>
  {% endif %}
  {% if block.settings.title != blank %}<div class="t4s-testimonial-name">{{ block.settings.title }}</div>{% endif %}
  {%- liquid 
    assign product = block.settings.product
    assign pr_url = product.url
    -%}
  {% if product != blank %}
    <div class="t4s-testimonial-product t4s-d-flex t4s-align-center t4s-pr">
      <div class="t4s-content-wrap">
        <a href="{{ pr_url }}" class="t4s-testimonial-pr-title "><span class="t4s-purchase_item">{{ 'sections.testimonials.Purchase_item' | t }} </span> {{ product.title }}</a>
      </div>
    </div>
  {% endif %}
</div>