  <div class="t4s-testimonial-wrap" timeline hdt-reveal="slide-in">
{%- if block.settings.image_avata != blank and design == '3' or design == '7' -%}
     {%- assign image = block.settings.image_avata -%} 
    <div class="t4s-testimonial-avatar lazyloadt4s" data-bgset="{{ image | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5" style="background-image: url({{ image | image_url: width: 1 }};"></div>
  {%- endif -%}
  {% if block.settings.heading != blank %}
    <h3 class="t4s-testimonial-heading">{{ block.settings.heading }}</h3>
  {% endif %}
  {%- if block.settings.rating >= 1 -%}
    <div class="t4s-rating t4s-d-flex t4s-rate-{{ block.settings.rating }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
        <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
        <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
        <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
        <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="currentColor">
        <path d="M9 0L11.7255 6.00573L18 6.87539L13.41 11.4568L14.5623 18L9 14.8257L3.43769 18L4.59 11.4568L0 6.87539L6.27447 6.00573L9 0Z"/>
      </svg>
    </div>
  {%- endif -%}
  {% if block.settings.content != blank %}
    <div class="t4s-testimonial-content t4s-rte t4s-pr">
      {%- if design == "5" or design == "7" -%}
        <span class="t4s-quote-left">
           <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" width="32" height="32" viewBox="0 0 448 512"><path d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"/></svg>
        </span>
      {%- endif -%}
      {{ block.settings.content }}
      {%- if design == "5" or design == "7" -%}
        <span class="t4s-quote-right">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" width="32" height="32" viewBox="0 0 448 512"><path d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"/></svg> 
        </span>
      {%- endif -%}
    </div>
  {% endif %}
  <div class="t4s-testimonial-author">
  {%- if block.settings.image_avata != blank and design != '3' and design != '7' -%}
     {%- assign image = block.settings.image_avata -%} 
    <div class="t4s-testimonial-avatar lazyloadt4s" data-bgset="{{ image | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5" style="background-image: url({{ image | image_url: width: 1 }};"></div>
  {%- endif -%}
    <div class="t4s-author-metas">
      {% if block.settings.title != blank %}<div class="t4s-testimonial-name">{{ block.settings.title }}</div>{% endif %}
      {%- if block.settings.pos != blank -%}<div class="t4s-testimonial-position">{{ block.settings.pos }}</div>{%- endif -%} 
    </div>
  </div>
</div>