<!-- sections/accordion.liquid -->
{{ 't4s-section.css' | asset_url | stylesheet_tag }}
{{ 't4s-accordion.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign sid = section.id
  assign stt_layout = section.settings.layout
  assign stt_image_bg = section.settings.image_bg
  if section.settings.layout == 't4s-cus-width'
    assign html_layout = '<div class="t4s-container" style="--width: 010693px">__</div>' | split: '__'
  elsif stt_layout == 't4s-se-container' 
    assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
    assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
    assign html_layout = '__' | split: '__'
  endif
-%}
{%- capture append_style -%}
  {% if stt_image_bg.presentation.focal_point != '50.0% 50.0%' %} --background-position: {{ stt_image_bg.presentation.focal_point }};{% endif %}
{%- endcapture -%}
{% render 'section_style', append_style: append_style, sid: sid %}
{%- # theme-check-disable DeprecateBgsizes -%}
<div class="t4s-section-inner t4s_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s{% endif %}" {%- if stt_image_bg != blank and stt_layout != 't4s-se-container' -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5"{%- endif -%} >
  {{- html_layout[0] | replace: '010693', section.settings.custom_width -}}
    {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner {% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s {% endif %} "  {%- if stt_image_bg != blank -%} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="1.5" {%- endif -%} > {%- endif -%}
    <div class="t4s-accordion-style-2 " style="--fs-content: {{ section.settings.fs_content }}px; --fw-content: {{ section.settings.fw_content }}; --title-pd: {{ section.settings.title_pd }}; --fs-title: {{ section.settings.fs_title }}px; --fw_title: {{ section.settings.fw_title }}">
      {%- render 'section_tophead', get_height: true -%}
      <div class="t4s-tabs t4s-type-accordion t4s-text-{{ section.settings.content_align }} {%- if section.settings.border_bt %} t4s_border_bottom {% endif -%}" data-t4s-tabs style="--title-cl: {{ section.settings.title_cl }};--bg-title-cl: {{ section.settings.bg_title_cl }};--title-active-cl: {{ section.settings.title_active_cl }};--bg-title-active-cl: {{ section.settings.bg_title_active_cl }};--content-cl: {{ section.settings.content_cl }};--bg-content-cl: {{ section.settings.bg_ac_content_cl }}">
        {%- for block in section.blocks -%}
           
          {%- assign blockid = block.id -%}
          <div class="t4s-tab-wrapper {% if forloop.first == true and section.settings.auto_active %} t4s-active {% endif %}" data-t4s-tab-wrapper {{ block.shopify_attributes }} timeline hdt-reveal="slide-in">
            <a id="b_{{ block.id }}" class="t4s-accor-title" href="#t4s-{{ blockid }}" rel="nofollow" data-t4s-tab-item data-no-instant>
              <span class="t4s-accor-text">
              	{% if block.settings.icon != "none" %}
              		<span class="t4s-accor-icon">{%- render 'icon-accordion', icon: block.settings.icon -%} </span>
              	{% endif %}
                {{ block.settings.title }}
              </span>
              <span class="t4s-accor-item-nav"></span>
            </a>
            <div id="t4s-{{ blockid }}" class="t4s-tab-content t4s-rte" data-t4s-tab-content {% if section.settings.auto_active == false %} style="display: none;"{%- endif -%}>{{ block.settings.content }}</div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {{- html_layout[1] -}}
</div>
{%- # theme-check-enable DeprecateBgsizes -%}
{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "class": "t4s-section t4s-section-all t4s_tp_cdt t4s-accordion t4s_tp_tab",
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "1. Heading options"
    },
    {
      "type": "checkbox",
      "id": "heading_center",
      "label": "Center heading align",
      "default": true
    },
    {
      "type": "text",
      "id": "top_heading",
      "label": "Heading",
      "default": "FAQs"
    },
    {
      "type": "richtext",
      "id": "top_subheading",
      "label": "Description"
    },
    {
      "type": "number",
      "id": "tophead_mb",
      "label": "Bottom space (Desktop)(px)",
      "info": "The spacing is between the heading and the content",
      "default": 30
    },
    {
      "type": "number",
      "id": "tophead_mb_tb",
      "label": "Bottom space (Tablet)(px)",
      "info": "The spacing is between the heading and the content",
      "default": 30
    },
    {
      "type": "number",
      "id": "tophead_mb_mb",
      "label": "Bottom space (Mobile)(px)",
      "info": "The spacing is between the heading and the content",
      "default": 25
    },
    {
      "type": "header",
      "content": "2. General options"
    },
    {
      "type": "text",
      "id": "title_pd",
      "label": "Padding tab title",
      "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
      "default": "20px 0"
    },
    {
      "type": "range",
      "id": "fs_title",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size tab title",
      "default": 16
    },
    {
      "type": "range",
      "id": "fw_title",
      "min": 100,
      "max": 900,
      "step": 100,
      "label": "Font weight tab title",
      "default": 600
    },
    {
      "type": "range",
      "id": "fs_content",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Font size tab content",
      "default": 16
    },
    {
      "type": "range",
      "id": "fw_content",
      "min": 100,
      "max": 900,
      "step": 100,
      "label": "Font weight tab content",
      "default": 400
    },
    {
      "type": "color",
      "id": "title_cl",
      "label": "Accordion label color",
      "default": "#858585"
    },
    {
      "type": "color",
      "id": "bg_title_cl",
      "label": "Accordion label background color"
    },
    {
      "type": "color",
      "id": "title_active_cl",
      "label": "Accordion label active color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bg_title_active_cl",
      "label": "Accordion label active background color"
    },
    {
      "type": "color",
      "id": "content_cl",
      "label": "Accordion content color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bg_ac_content_cl",
      "label": "Accordion content background color"
    },
    {
      "type": "select",
      "id": "content_align",
      "label": "Accordion content align",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "auto_active",
      "label": "Auto active 1 items",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "border_bt",
      "label": " Use border ",
      "default": true
    },
    {
      "type": "header",
      "content": "3. Design options"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "t4s-container-wrap",
      "label": "Layout",
      "options": [
        {
          "value": "t4s-cus-width",
          "label": "Custom width"
        },
        {
          "value": "t4s-se-container",
          "label": "Container"
        },
        {
          "value": "t4s-container-wrap",
          "label": "Wrapped container"
        },
        {
          "value": "t4s-container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "Custom width for content",
      "info": "Only working when use layout custom width",
      "default": 1000,
      "min": 500,
      "max": 1000,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "cl_bg",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "cl_bg_gradient",
      "label": "Background gradient"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design mobile options"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin",
      "default": ",,30px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding",
      "placeholder": ",,50px,"
    }
  ],
  "blocks": [
    {
      "type": "accor_item",
      "name": "Accordion item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Accordion icon",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Accordion label",
          "default": "Accordion item"
        },
        {
          "id": "content",
          "type": "richtext",
          "label": "Accordion content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion",
      "category": "group5",
      "blocks": [
        {
          "type": "accor_item",
          "settings": {
            "title": "Tab 01",
            "content": "<p>We love to hear from you on our customer service, merchandise, website or any topics you want to share with us. Your comments and suggestions will be appreciated. Please complete the form below.</p>"
          }
        },
        {
          "type": "accor_item",
          "settings": {
            "title": "Tab 02",
            "content": "<p>We love to hear from you on our customer service, merchandise, website or any topics you want to share with us. Your comments and suggestions will be appreciated. Please complete the form below.</p>"
          }
        },
        {
          "type": "accor_item",
          "settings": {
            "title": "Tab 03",
            "content": "<p>We love to hear from you on our customer service, merchandise, website or any topics you want to share with us. Your comments and suggestions will be appreciated. Please complete the form below.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}