<!-- sections/brc-nav-product.liquid -->
{{ 't4s-section.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign sid = section.id
  
  assign stt_layout = section.settings.layout
  assign stt_image_bg = section.settings.image_bg
  if stt_layout == 't4s-se-container' 
      assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
  elsif stt_layout == 't4s-container-wrap'
      assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
  else
      assign html_layout = '__' | split: '__'
  endif
-%} 
{%- if section.settings.breadcrumb_pr -%} 
{% render 'section_style', sid: sid %}
<div class="t4s-section-inner t4s-breadcrumb_pr_wrap t4s_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s {% endif %}" {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %}  data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto" data-optimumx="2" {% endif %}>
  {{- html_layout[0] -}}  
  {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s {% endif %}" {% if stt_image_bg != blank %}  data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto" data-optimumx="2" {% endif %}>{%- endif -%}
    <div class="t4s-row t4s-align-items-center"> 
      <div class="t4s-col t4s-col-item{% if section.settings.breadcrumb_center %} t4s-text-center{% endif %}">
        {% if section.settings.breadcrumb_pr %} 
        <nav class="t4s-pr-breadcrumb">
          <a href="{{ routes.root_url }}" class="t4s-d-inline-block">{{ 'general.breadcrumb.home' | t }}</a>{% if article.url != blank %}&nbsp;/&nbsp;<a href="{{ blog.url }}" class="t4s-d-inline-block">{{ blog.title }}</a>{% endif %}&nbsp;/&nbsp;<span>{{ article.title }}</span>
        </nav>
        {% endif %}
      </div>
    </div>
  {{- html_layout[1] -}}
</div>
{%- endif -%} 
<style>nav.t4s-pr-breadcrumb { font-size: 16px; font-weight:300; } .t4s-pr-breadcrumb svg { width: 10px; margin: 0 5px; position: relative; top: 4px; } .t4s-breadcrumb_pr_wrap .t4s-pr-next-prev {display: flex;} .t4s-breadcrumb_pr_wrap .t4s-text-pr{ display: none; } a.t4s-nav-pr { text-align: center; display: inline-flex; align-items: center; justify-content: center; } .t4s-nav-pr svg { width: 18px; display: inline-flex; } .t4s-breadcrumb_pr_wrap a:not(:hover),.t4s-pr-breadcrumb svg,.t4s-pr-breadcrumb > span { color: var(--text-color); } a.t4s-nav-back { margin: 0 8px; display: inline-flex; } @media (max-width:767px){ nav.t4s-pr-breadcrumb { font-size: 14px } }</style>
{% schema %}
{
  "name": "Breadcrumb",
  "class": "t4s-section t4s-pr_breadcrumbs",
  "settings": [
    {
      "type": "header",
      "content": "1. General options"
    },
    {
      "type": "checkbox",
      "id": "breadcrumb_pr",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "breadcrumb_center",
      "label": "Breadcrumb center",
      "default": false
    },
    {
      "type": "header",
      "content": "2. Design options"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "t4s-container-wrap",
      "label": "Layout",
      "options": [
        {
          "value": "t4s-se-container",
          "label": "Container"
        },
        {
          "value": "t4s-container-wrap",
          "label": "Wrapped container"
        },
        {
          "value": "t4s-container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "color",
      "id": "cl_bg",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "cl_bg_gradient",
      "label": "Background gradient"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "mg",
      "label": "Margin",
      "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd",
      "label": "Padding",
      "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
      "default": "26px,,26px,",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design tablet options"
    },
    {
      "type": "text",
      "id": "mg_tb",
      "label": "Margin",
      "default": ",,50px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_tb",
      "label": "Padding",
      "default": "26px,,26px,",
      "placeholder": "50px,,50px,"
    },
    {
      "type": "header",
      "content": "+ Design mobile options"
    },
    {
      "type": "text",
      "id": "mg_mb",
      "label": "Margin",
      "default": ",,30px,",
      "placeholder": ",,50px,"
    },
    {
      "type": "text",
      "id": "pd_mb",
      "label": "Padding",
      "default": "25px,,25px,",
      "placeholder": ",,50px,"
    }
  ]
}
{% endschema %}