{%- comment -%}
{%- if template == 'search.wishlist' %}{{ 'wishlist_page.meta' | t }}{%- elsif template == 'search.compare' %}{{ 'compare_page.meta' | t }}{%- endif -%}
{%- endcomment -%}

{%- liquid
  assign results_count   = search.results_count
  assign cart_collection_items_per_row = cart.attributes.collection_items_per_row
  assign collection_items_per_row = cart_collection_items_per_row | split: '.'
  assign list_id_prs = ''
  if request.design_mode
    assign arr_results   = section.settings.product_list
    assign results_count = arr_results.count
  endif 
  assign has_paginate_wishlist = false  
  assign placeholder_img = settings.placeholder_img
  assign price_varies_style = settings.price_varies_style
-%}
{{ 't4s-loading.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'main-wishlist.css' | asset_url }}" media="all">

{%- liquid
  unless request.design_mode
    assign arr_results = search.results
  endunless -%}
<div class="t4s-container">

{%- if results_count > 0 %}{% assign list_id_prs = arr_results | map: 'id' | join: ',id:' | prepend: 'id:' -%}
  <div class="t4s-products-wishlist">
    <table class="t4s-products t4s_cover t4s_position_8 t4s_ratio1_1">
      <tr>
        <th class="t4s-item-wishlist">{{ 'wishlist_page.product_wishlist' | t }}</th>
        <th class="t4s-item-price">{{ 'wishlist_page.product_wishlist_price' | t }}</th>
        <th class="t4s-item-stock">{{ 'wishlist_page.product_stock_status' | t }}</th>
        <th class="t4s-item-atc"></th>
        <th class="t4s-item-remove"></th>
      </tr>
	    {%- for product in arr_results -%}
        {%- render 'pr-wishlist-item', block: block, product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%} 
	    {%- endfor -%}
      
	    {%- if paginate.pages > 1 -%}
        {%- assign has_paginate_wishlist = true -%}
	    {%- endif -%}

    </table>
  </div>
{%- else -%}

    <div class="t4s_empty_wishlist_page t4s-text-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M298.7 97.64L257 143.7L213.5 97.91C173.6 57.42 110 52.6 70.71 86.82L70.53 86.97C21.8 128.7 19.4 203.3 62.71 248.2L62.73 248.2L256.4 447.9C256.5 447.9 256.6 447.8 256.7 447.7L269.1 434.8C273.4 445.3 278.7 455.3 284.9 464.6L279.4 470.3C266.4 483.2 245.5 483.2 233.5 470.3L39.71 270.5C-16.22 212.5-13.23 116.6 49.7 62.68C102.8 16.41 184.1 24.47 234.3 73.46C235 74.19 235.7 74.92 236.5 75.67L256.4 96.64L275.4 75.67C276.3 74.76 277.2 73.87 278.1 72.99C328.3 24.42 408.3 16.56 463.2 62.68C506.1 100.1 520.7 157.6 507 208.7C497.4 204.2 487.3 200.5 476.8 197.8C486.3 158.8 474.8 115.3 442.4 87C400.9 52.33 338.2 57.7 298.7 97.64V97.64zM454.6 368L491.3 404.7C497.6 410.9 497.6 421.1 491.3 427.3C485.1 433.6 474.9 433.6 468.7 427.3L432 390.6L395.3 427.3C389.1 433.6 378.9 433.6 372.7 427.3C366.4 421.1 366.4 410.9 372.7 404.7L409.4 368L372.7 331.3C366.4 325.1 366.4 314.9 372.7 308.7C378.9 302.4 389.1 302.4 395.3 308.7L432 345.4L468.7 308.7C474.9 302.4 485.1 302.4 491.3 308.7C497.6 314.9 497.6 325.1 491.3 331.3L454.6 368zM576 368C576 447.5 511.5 512 432 512C352.5 512 288 447.5 288 368C288 288.5 352.5 224 432 224C511.5 224 576 288.5 576 368zM432 256C370.1 256 320 306.1 320 368C320 429.9 370.1 480 432 480C493.9 480 544 429.9 544 368C544 306.1 493.9 256 432 256z"/></svg>
      <h4 class="t4s_empty_wishlist__heading">{{ 'wishlist_page.empty' | t }}</h4>
      <div class="t4s_empty_wishlist__txt">{{ 'wishlist_page.empty_html' | t }}</div>
    </div>

{%- endif -%}

</div>

<script>var isPageWishlist = true, hasPaginateWishlist = {{ has_paginate_wishlist }}, isWishlistPerformed = {{ search.performed }}, countWishlistPage = {{ results_count }}, listIDPrs = {{ list_id_prs | json }}{% if results_count == 0 %}, isEmtyWishlist = true{% endif %};</script>

{% if cart_collection_items_per_row contains 'list_t4s' %}
{%- comment -%}  list_t4s.2.5 is--listview t4s-row-cols-list_t4s t4s-row-cols-md-2 t4s-row-cols-lg-5 {%- endcomment -%}
<script>
    (function() {
       var windowWidth = window.innerWidth,
       onlistview      = {{ collection_items_per_row | json }},
       producSelector  = document.querySelectorAll('#shopify-section-{{ section.id }} .t4s-products')[0],
       classListview   = 'is--listview on--list-',
       classListview2  = classListview;
       
       if ( windowWidth < 768 && onlistview[0] == 'list_t4s' ) {
          classListview = classListview +'mobile';
       } else if ( windowWidth > 767 && windowWidth < 1025 && onlistview[1] == 'list_t4s' ) {
          classListview = classListview +'tablet';
       } else if (windowWidth > 1024 && onlistview[2] == 'list_t4s') { 
          classListview = classListview +'desktop';
       }
       if (classListview != classListview2)
       producSelector.className += ' '+classListview;
       //producSelector.classList.add(classListview);

    }());
</script>
{% endif %}
{% schema %}
{
  "name": "Wishlist Page",
  "class": "t4s_section_wishlist t4s-section-main t4s_tp_countdown",
  "settings": [
    {
      "type": "header",
      "content": "Demo exist wishlist products on editor"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Products test",
      "limit": 50,
      "info": "Only shown on editor admin"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 1,
      "max": 50,
      "step": 1,
      "label": "Maximum products to show",
      "default": 8
    }
  ]
}
{% endschema %}