{%- liquid
  assign results_count = search.results_count
  assign collection = collections[settings.search_prs_suggest]
  if settings.suggest_pr_style == "grid"
    assign limit = 8
  else
    assign limit = 6
  endif
  assign show_search_suggest = settings.show_search_suggest
  if shop.types.size < 3
    assign shop_types = shop.types | join: ' ' | remove: ' '
  else
    assign shop_types = 'type_the4'
  endif
  assign placeholder_img = settings.placeholder_img
  assign price_varies_style = settings.price_varies_style
  
  assign search_terms = search.terms
  assign key_terms = search_terms
  if search_terms contains 'product_type:'
    assign arr_terms = search_terms | remove: 'product_type:' | replace_first: ' AND', ' AND ' | replace_first: '  ', ' ' | split: ' AND '
    assign product_type = arr_terms[0] | strip
    assign search_terms = arr_terms[1] | strip
    if search_terms == blank
      assign key_terms = key_terms | remove: ' AND '
      assign search_terms = product_type
    endif
  endif
-%}
  
{%- if request.design_mode %}
  {{ 't4s-collection-products.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="{{ 't4s-search-hidden.css' | asset_url }}" media="all">
{% endif -%}
{%- if settings.predictive_search -%}
  {%- if predictive_search != blank -%}
  {%- assign results_count = predictive_search.resources.queries.size
    | plus: predictive_search.resources.products.size
    | plus: predictive_search.resources.collections.size
    | plus: predictive_search.resources.pages.size
    | plus: predictive_search.resources.articles.size
  -%}
  {%- endif -%}
  <div class="t4s-search-box t4s-current-scrollbar">
    <div class="t4s-container">
      <form data-frm-search action="{{ routes.search_url }}" method="get" class="t4s-mini-search__frm t4s-pr" role="search">
        <input type="hidden" name="type" value="product">
        <input type="hidden" name="options[unavailable_products]" value="{{ settings.unavailable_prs }}">
        <input type="hidden" name="options[prefix]" value="last">
        <input type="hidden" name="resources[options][fields]" value="variants.sku,product_type,tag,variants.barcode,variants.title,vendor">
        {%- if settings.filter_type_search and shop_types != blank -%}
          <div data-cat-search class="t4s-mini-search__cat">
            <select data-name="product_type">
              <option value="*">{{ 'search.general.all_categories' | t }}</option>
              {%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue -%}{% endif -%}<option value="{{ product_type }}">{{ product_type }}</option>{%- endfor -%}
            </select>
          </div>
        {%- endif -%} 
        <div class="t4s-mini-search__btns t4s-pr t4s-oh">
          <input data-input-search class="t4s-mini-search__input" autocomplete="off" type="text" name="q" placeholder="{{ 'search.general.placeholder' | t }}">
          <button data-submit-search class="t4s-mini-search__submit t4s-btn-loading__svg{% if settings.ajax_search %} t4s-pe-none{% endif %}" type="submit">
            <svg class="t4s-btn-op0" viewBox="0 0 18 19" width="16"><use href="#t4s-icon-search"></use></svg>
            <div class="t4s-loading__spinner t4s-dn">
              <svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
            </div>
          </button>
        </div>
        {%- assign list_hotkey = settings.list_hotkey -%}
        {%- if settings.show_search_hotkey and list_hotkey != blank -%}
          {%- capture link_suggest -%}
          {{ routes.predictive_search_url }}?type=product&options%5Bunavailable_products%5D={{ settings.unavailable_prs }}&options%5Bprefix%5D=last&q=
          {%- endcapture -%}
          {%- assign arr_keys = list_hotkey | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}
          {%- assign arr_keys2 = arr_keys | join: ',|nt' | split: '|nt' -%}

          <div data-listKey class="t4s-mini-search__keys">
            <span class="t4s-mini-search__label">{{ 'search.general.quick_search' | t }}</span>
            <ul class="t4s-mini-search__listKey t4s-d-inline-block">
              {%- for key in arr_keys %}{% assign key_strip = key | strip -%}
              <li class="t4s-d-inline-block"><a data-key='{{ key_strip | escape }}' href="{{ link_suggest }}{{ key | strip | url_encode }}">{{ arr_keys2[forloop.index0] }} </a></li>
              {% endfor -%}
            </ul>
          </div>
        {%- endif -%}
        <div data-listsuggest-search data-listKey class="t4s-mini-search__keys">
            {%- if predictive_search.resources.queries.size > 0 -%}
            <span class="t4s-mini-search__label">{{ 'search.general.suggestions' | t }}</span>
            <ul class="t4s-mini-search__listSuggest t4s-d-inline-block" style="--li-pl: 0px">
              {%- for query in predictive_search.resources.queries -%}
                <li id="query-{{ forloop.index }}" class="t4s-d-inline-block" role="option" aria-selected="false">
                  <a href="{{ routes.predictive_search_url }}?type=product&options%5Bunavailable_products%5D={{ settings.unavailable_prs }}&options%5Bprefix%5D=last&q={{ query.text }}" data-key='{{ query.text | escape }}' class="t4s-mini-search-suggest" tabindex="-1" aria-label="{{ query.text }}">
                    {{ query.styled_text }}{% unless forloop.last %},{% endunless %}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      </form>
      <div class="t4s-search-hidden-inner">
        {%- if results_count > 1 -%}<div data-title-search class="t4s-mini-search__title">{{ 'search.general.heading.other' | t }}</div>
        {%- elsif results_count == 1 -%}<div data-title-search class="t4s-mini-search__title">{{ 'search.general.heading.one' | t }}</div>
        {%- elsif results_count == blank and collection != blank and show_search_suggest-%}<div data-title-search class="t4s-mini-search__title">{{ 'search.general.suggest' | t }}</div>
        {%- else -%}<div data-title-search class="t4s-mini-search__title" style="display:none"></div>
        {%- endif -%}
        <div data-skeleton-search class="t4s-skeleton_wrap t4s-dn">
          <div class="t4s-row t4s-row-products t4s-search-products_{{ settings.suggest_pr_style }} {% if settings.suggest_pr_style == "grid" %} t4s-row-cols-lg-4 t4s-row-cols-md-3 t4s-row-cols-2 t4s-g-lg-30 t4s-gx-md-15 t4s-gy-md-30 t4s-gx-15 t4s-gy-30 {% else %} t4s-row-cols-lg-3 t4s-row-cols-md-2 t4s-row-cols-1 {% endif %}">
            {%- for i in (1..limit) -%}
              {% if settings.suggest_pr_style == "grid" %}
                <div class="t4s-col-item">
                  <div class="t4s-skeleton_img"></div>
                  <div class="t4s-skeleton_txt1"></div>
                  <div class="t4s-skeleton_txt2"></div>
                </div>
              {% else %}
                <div class="t4s-pr-search-item t4s-col-item">
                  <div class="t4s-row t4s-space-item-inner">
                    <div class="t4s-col-auto t4s-col-item t4s-widget_img_pr"><div class="t4s-skeleton_img"></div></div>
                    <div class="t4s-col t4s-col-item t4s-widget_if_pr"><div class="t4s-skeleton_txt1"></div><div class="t4s-skeleton_txt2"></div></div>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
        <div data-results-search class="t4s-mini-search__content t4s_ratio1_1">
          {%- if results_count == 0 -%}<p class="t4s-search-error t4s-text-center">{{ 'search.general.no_product_results' | t }}</p>
          {%- else -%}
            <div class="t4s-row t4s-row-products t4s-search-products_{{ settings.suggest_pr_style }} {% if settings.suggest_pr_style == "grid" %}t4s-row-cols-lg-4 t4s-row-cols-md-2 t4s-row-cols-2 t4s-g-lg-30 t4s-gx-md-15 t4s-gy-md-30 t4s-gx-15 t4s-gy-30 {% else %} t4s-row-cols-lg-3 t4s-row-cols-md-2 t4s-row-cols-1 {% endif %}">
              {%- if results_count > 0 -%}
                {%- for product in predictive_search.resources.products limit: limit -%}
                  {% if settings.suggest_pr_style == "grid" %}
                    {%- render 'pr-grid-item1', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                  {% else %}
                    <div class="t4s-pr-search-item t4s-col-item">
                      {%- render 'product_group_item', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                    </div>
                  {% endif %}
                {%- endfor -%}
              {%- elsif results_count == blank and collection != blank and show_search_suggest -%}
                {%- for product in collection.products limit: limit -%}
                  {% if settings.suggest_pr_style == "grid" %}
                    {%- render 'pr-grid-item1', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                  {% else %}
                    <div class="t4s-pr-search-item t4s-col-item">
                      {%- render 'product_group_item', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                    </div>
                  {% endif %}
                {%- endfor -%}
              {%- endif -%}
            </div> 
          {%- endif -%}
          {%- unless settings.only_search_prs %}
            <div class="t4s-results-others t4s_ratioadapt lazyloadt4s" data-rendert4s='{{ routes.search_url }}?q={{ search.terms | url_encode }}&type=article,page&section_id=search-others'></div>
          {% endunless -%}
        </div>
      </div>
      <div class="t4s-search-form-bottom">
        <button class="t4s-drawer__close" data-drawer-close="" aria-label="{{ 'search.general.close_search' | t }}" data-toggle-class="show-search" data-toggle-trigger="body">
          <svg class="t4s-iconsvg-close" role="presentation" viewBox="0 0 16 14" width="20" height="20"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg>
        </button>
      </div>
    </div>
  </div>
{%- else -%}

<div class="t4s-search-box t4s-current-scrollbar">
  <div class="t4s-container">
    <form data-frm-search action="{{ routes.search_url }}" method="get" class="t4s-mini-search__frm t4s-pr" role="search">
      <input type="hidden" name="type" value="product">
      <input type="hidden" name="options[unavailable_products]" value="{{ settings.unavailable_prs }}">
      <input type="hidden" name="options[prefix]" value="last">
      <input type="hidden" name="resources[options][fields]" value="variants.sku,product_type,tag,variants.barcode,variants.title,vendor">
      {%- if settings.filter_type_search and shop_types != blank -%}
        <div data-cat-search class="t4s-mini-search__cat">
          <select data-name="product_type">
            <option value="*">{{ 'search.general.all_categories' | t }}</option>
            {%- for product_type in shop.types -%}{%- if product_type == blank %}{% continue -%}{% endif -%}<option value="{{ product_type }}">{{ product_type }}</option>{%- endfor -%}
          </select>
        </div>
      {%- endif -%} 
      <div class="t4s-mini-search__btns t4s-pr t4s-oh">
        <input data-input-search class="t4s-mini-search__input" autocomplete="off" type="text" name="q" placeholder="{{ 'search.general.placeholder' | t }}">
        <button data-submit-search class="t4s-mini-search__submit t4s-btn-loading__svg{% if settings.ajax_search %} t4s-pe-none{% endif %}" type="submit">
          <svg class="t4s-btn-op0" viewBox="0 0 18 19" width="16"><use href="#t4s-icon-search"></use></svg>
          <div class="t4s-loading__spinner t4s-dn">
            <svg width="16" height="16" aria-hidden="true" focusable="false" role="presentation" class="t4s-svg__spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="t4s-path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
          </div>
        </button>
      </div>
      {%- assign list_hotkey = settings.list_hotkey -%}
      {%- if settings.show_search_hotkey and list_hotkey != blank -%}
        {%- capture link_suggest -%}
        {{ routes.search_url }}?type=product&options%5Bunavailable_products%5D={{ settings.unavailable_prs }}&options%5Bprefix%5D=last&q=
        {%- endcapture -%}
        {%- assign arr_keys = list_hotkey | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}
        {%- assign arr_keys2 = arr_keys | join: ',|nt' | split: '|nt' -%}

        <div data-listKey class="t4s-mini-search__keys">
          <span class="t4s-mini-search__label">{{ 'search.general.quick_search' | t }}</span>
          <ul class="t4s-mini-search__listKey t4s-d-inline-block">
            {%- for key in arr_keys %}{% assign key_strip = key | strip -%}
            <li class="t4s-d-inline-block"><a data-key='{{ key_strip | escape }}' href="{{ link_suggest }}{{ key | strip | url_encode }}">{{ arr_keys2[forloop.index0] }} </a></li>
            {% endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </form>
    <div class="t4s-search-hidden-inner">
      {%- if results_count > 1 -%}<div data-title-search class="t4s-mini-search__title">{{ 'search.general.heading.other' | t }}</div>
      {%- elsif results_count == 1 or results_count == 0 -%}<div data-title-search class="t4s-mini-search__title">{{ 'search.general.heading.one' | t }}</div>
      {%- elsif predictive_search == blank and collection != blank and show_search_suggest-%}<div data-title-search class="t4s-mini-search__title">{{ 'search.general.suggest' | t }}</div>
      {%- else -%}<div data-title-search class="t4s-mini-search__title" style="display:none"></div>
      {%- endif -%}
      <div data-skeleton-search class="t4s-skeleton_wrap t4s-dn">
        <div class="t4s-row {% if settings.suggest_pr_style == "grid" %}t4s-row-cols-lg-4 t4s-row-cols-md-3 t4s-row-cols-2 t4s-g-lg-30 t4s-gx-md-15 t4s-gy-md-30 t4s-gx-15 t4s-gy-30 {% else %} t4s-row-cols-lg-3 t4s-row-cols-md-2 t4s-row-cols-1 {% endif %}">
          {%- for i in (1..limit) -%}
            {% if settings.suggest_pr_style == "grid" %}
              <div class="t4s-col-item">
                <div class="t4s-skeleton_img"></div>
                <div class="t4s-skeleton_txt1"></div>
                <div class="t4s-skeleton_txt2"></div>
              </div>
            {% else %}
              <div class="t4s-row t4s-space-item-inner">
                <div class="t4s-col-auto t4s-col-item t4s-widget_img_pr"><div class="t4s-skeleton_img"></div></div>
                <div class="t4s-col t4s-col-item t4s-widget_if_pr"><div class="t4s-skeleton_txt1"></div><div class="t4s-skeleton_txt2"></div></div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
      <div data-results-search class="t4s-mini-search__content t4s_ratio1_1">
        {%- if results_count == 0 -%}<p class="t4s-search-error t4s-text-center">{{ 'search.general.no_product_results' | t }}</p>
        {%- else -%}
          <div class="t4s-row t4s-row-products {% if settings.suggest_pr_style == "grid" %}t4s-row-cols-lg-4 t4s-row-cols-md-3 t4s-row-cols-2 t4s-g-lg-30 t4s-gx-md-15 t4s-gy-md-30 t4s-gx-15 t4s-gy-30 {% else %} t4s-row-cols-lg-3 t4s-row-cols-md-2 t4s-row-cols-1 {% endif %}t4s-w-100">
            {%- if results_count > 0 -%}
              {%- for product in search.results limit: limit -%}
                {% if settings.suggest_pr_style == "grid" %}
                  {%- render 'pr-grid-item1', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                {% else %}
                  <div class="t4s-pr-search-item t4s-col-item">
                    {%- render 'product_group_item', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- elsif predictive_search == blank and collection != blank and show_search_suggest -%}
              {%- for product in collection.products limit: limit -%}
                {% if settings.suggest_pr_style == "grid" %}
                  {%- render 'pr-grid-item1', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                {% else %}
                  <div class="t4s-pr-search-item t4s-col-item">
                    {%- render 'product_group_item', product: product, placeholder_img: placeholder_img, price_varies_style: price_varies_style -%}
                  </div>
                {% endif %}
              {%- endfor -%}
            {%- endif -%}
          </div> 
        {%- endif -%}
        {%- unless settings.only_search_prs %}
          <div class="t4s-results-others t4s_ratioadapt lazyloadt4s" data-rendert4s='{{ routes.search_url }}?q={{ search.terms | url_encode }}&type=article,page&section_id=search-others'></div>
        {% endunless -%}
      </div>
    </div>
    <div class="t4s-search-form-bottom">
      <button class="t4s-drawer__close" data-drawer-close="" aria-label="{{ 'search.general.close_search' | t }}" data-toggle-class="show-search" data-toggle-trigger="body">
        <svg class="t4s-iconsvg-close" role="presentation" viewBox="0 0 16 14" width="20" height="20"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg>
      </button>
    </div>
  </div>
</div>
{%- endif -%}