{%- liquid
  assign show_txt = section.settings.show_txt
  assign img_size = 40
  assign search_url = routes.search_url 
-%}
{%- if section.settings.enable_toolbar and section.blocks.size > 0 -%}
{{ 't4s-toolbar-mobile.css' | asset_url | stylesheet_tag }}
<div class="t4s-toolbar t4s-toolbar-label-{{ show_txt }} t4s-toolbar-border-{{ section.settings.show_border }} t4s-pf t4s-r-0 t4s-l-0 t4s-b-0 t4s-d-flex t4s-align-items-center t4s-justify-content-between" style="--bg-color:{{ section.settings.bg_color }};--icon-color:{{ section.settings.icon_color }};--label-color:{{ section.settings.label_color }};--count-bg-color:{{ section.settings.count_bg_color }};--count-text-color:{{ section.settings.count_text_color }};--border-color:{{ section.settings.border_color }}">
  {%- for block in section.blocks -%}
      {%- case block.type -%}
          {%- when 'shop' -%}
          <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
              <a href="{{ collections[block.settings.link].url | default: routes.all_products_collection_url }}">
                  <span class="t4s-toolbar-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512" fill="currentColor"><path d="M48 80v96h96V80H48zM0 32H48h96 48V80v96 48H144 48 0V176 80 32zM48 336v96h96V336H48zM0 288H48h96 48v48 96 48H144 48 0V432 336 288zM400 80H304v96h96V80zM304 32h96 48V80v96 48H400 304 256V176 80 32h48zm0 304v96h96V336H304zm-48-48h48 96 48v48 96 48H400 304 256V432 336 288z"></path></svg>
                  </span>
                  {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
          </div>
          {%- when 'wish' %}{% if settings.wishlist_mode == '0' %}{% continue %}{% endif -%} 
          <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
              <a data-link-wishlist href="{% if settings.wishlist_mode != '3' %}{{ search_url }}/?view=wishlist{%- else -%}/pages/wishlist{%- endif -%}">
                  <span class="t4s-toolbar-icon t4s-pr">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"/></svg>
                      <span data-count-wishlist class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">0</span>
                  </span>           
                  {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
          </div>
          {%- when 'compe' -%}
          {%- unless settings.enable_compe -%}{%- continue -%}{%- endunless -%} 
            <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
              <a data-link-compare href="{{ search_url }}/?view=compare">
                  <span class="t4s-toolbar-icon t4s-pr">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 28 28" width="24" height="24" stroke="currentColor"><path xmlns="http://www.w3.org/2000/svg" d="M22.735,7H0v-1H22.734l-3.729-3.729,.707-.707,3.829,3.829c.61,.61,.61,1.604,0,2.214l-3.809,3.809-.707-.707,3.709-3.709ZM4.974,13.291l-.707-.707L.458,16.393c-.61,.61-.61,1.604,0,2.214l3.829,3.829,.707-.707-3.729-3.729H24v-1H1.265l3.709-3.709Z"/></svg>
                      <span data-count-compare class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">0</span>
                  </span>  
                  {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
            </div>
          {%- when 'cart' -%}
            <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
                <a href="{{ routes.cart_url }}"{% if request.page_type != 'cart' and settings.cart_type != 'disable' %} data-drawer-delay- data-drawer-options='{ "id":"#t4s-mini_cart" }'{% endif %}>
                    <span class="t4s-toolbar-icon t4s-pr">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 449 611.97" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M205.6,1.57c-44.2,8.8-77,43.9-82.6,88.8-.5,4.4-1,13.3-1,19.8V122H0V612H449V122H327v-11.8c0-13.1-1.2-24.9-3.6-33.8-8.5-32.6-34-60.2-65.8-71C242.1.07,220.9-1.53,205.6,1.57Zm31.7,40.9c21.9,4.6,40.6,22.5,46.2,44.2,1,3.8,1.5,10.6,1.5,20.5V122H164v-14.8c0-23.2,4.2-34.4,18-48.3A59.05,59.05,0,0,1,237.3,42.47ZM122.2,193.67l.3,30.8h41l.3-30.8L164,163H285l.2,30.7.3,30.8h41l.3-30.8L327,163h81V571H41V163h81Z" fill="currentColor"/></svg>
                        <span data-cart-count class="t4s-pa t4s-op-0 t4s-ts-op t4s-count-box">{{ cart.item_count }}</span>
                    </span>
                    {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
                </a>
            </div>
          {%- when 'account' -%}{%- unless shop.customer_accounts_enabled %}{% continue %}{% endunless -%} 
            <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
              <a href="{{ routes.account_url }}" {% unless customer or request.page_type contains 'customers' or settings.login_side == false %} data-drawer-options='{ "id":"#t4s-login-sidebar" }' {% endunless %}>
                <span class="t4s-toolbar-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 480 480" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">    <path d="M409.71,310.29a239.06,239.06,0,0,0-91.2-57.2,138.71,138.71,0,0,0,60.24-114.34C378.75,62.24,316.51,0,240,0S101.25,62.24,101.25,138.75A138.7,138.7,0,0,0,161.5,253.09,240.34,240.34,0,0,0,0,480H37.5c0-111.66,90.84-202.5,202.5-202.5S442.5,368.34,442.5,480H480A238.43,238.43,0,0,0,409.71,310.29ZM240,240A101.25,101.25,0,1,1,341.25,138.75,101.36,101.36,0,0,1,240,240Z" fill="currentColor"/></svg>
                </span>
                {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
            </div>
          {%- when 'search' -%}
            <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
                <a href="{{ routes.search_url }}" data-drawer-delay- data-drawer-options='{ "id":"#t4s-search-hidden" }'>
                    <span class="t4s-toolbar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">    <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" fill="currentColor"/></svg>
                    </span>
                    {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
                </a>
            </div>
          {%- when 'blog' %}
            {% assign blog = blogs[block.settings.blog] -%}
            <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
              <a href="{{ blog.url | default: request.path }}">
                  <span class="t4s-toolbar-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="currentColor"><path d="M192 0V64c141.4 0 256 114.6 256 256h64C512 143.3 368.7 0 192 0zm0 96v64c88.4 0 160 71.6 160 160h64C416 196.3 315.7 96 192 96zM96 144V96H0v48V368c0 79.5 64.5 144 144 144s144-64.5 144-144s-64.5-144-144-144H128v96h16c26.5 0 48 21.5 48 48s-21.5 48-48 48s-48-21.5-48-48V144z"></path></svg>
                  </span>
                  {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
            </div>
          {%- when 'home' -%}
          <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
              <a href="{{ routes.root_url }}">
                <span class="t4s-toolbar-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 576 512" fill="currentColor"><path d="M280 32l15.5-18.3L280 .5 264.5 13.7 280 32zM80 488H56v24H80V488zm400 0v24h24V488H480zM31.5 274.3l264-224L264.5 13.7 .5 237.7l31.1 36.6zm232.9-224l264 224 31.1-36.6-264-224L264.5 50.3zM56 193.7V488h48V193.7H56zM80 512H480V464H80v48zm424-24V193.7H456V488h48z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                </span>
                {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
          </div>
          {%- when 'nav' -%}
            <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
              <a href="{{ routes.root_url }}" data-menu-drawer data-drawer-options='{ "id":"#t4s-menu-drawer" }' class="t4s-push-menu-btn">
                  <span class="t4s-toolbar-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512" fill="currentColor"><path xmlns="http://www.w3.org/2000/svg" d="M0 64H448v64H0V64zM0 224H448v64H0V224zM448 384v64H0V384H448z"/></svg>
                  </span>
                  {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
            </div>
          {%- when 'filter' -%}
          <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item t4s-dn" {{ block.shopify_attributes }}>
            <a href="{{ request.path }}" data-drawer-options='{ "id":"#t4s-filter-hidden" }'>
                <span class="t4s-toolbar-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512" fill="currentColor"><path xmlns="http://www.w3.org/2000/svg" d="M0 64H448v64H0V64zM0 224H448v64H0V224zM448 384v64H0V384H448z"></path></svg>
                </span>
                {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
            </a>
          </div>
          {%- when 'sidebar' -%}
            <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item t4s-dn" {{ block.shopify_attributes }}>
              <a href="{{ request.path }}" data-sidebar-trigger>
                <span class="t4s-toolbar-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512" fill="nocurrentColorne"><path xmlns="http://www.w3.org/2000/svg" d="M432 96C440.8 96 448 103.2 448 112C448 120.8 440.8 128 432 128H368C359.2 128 352 120.8 352 112C352 103.2 359.2 96 368 96H432zM432 192H368C359.2 192 352 184.8 352 176C352 167.2 359.2 160 368 160H432C440.8 160 448 167.2 448 176C448 184.8 440.8 192 432 192zM432 224C440.8 224 448 231.2 448 240C448 248.8 440.8 256 432 256H368C359.2 256 352 248.8 352 240C352 231.2 359.2 224 368 224H432zM448 32C483.3 32 512 60.65 512 96V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H448zM32 96V416C32 433.7 46.33 448 64 448H288V64H64C46.33 64 32 78.33 32 96zM448 64H320V448H448C465.7 448 480 433.7 480 416V96C480 78.33 465.7 64 448 64z"/></svg>
                </span>
                {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
              </a>
            </div>
          {%- else -%}
          <div class="t4s-toolbart-{{ block.type }} t4s-toolbar-item" {{ block.shopify_attributes }}>
            {%- assign image = block.settings.image -%}
            <a href="{{ block.settings.link | default: routes.account_url }}">
              <span class="t4s-toolbar-icon t4s-pr">
                {%- if image != blank %}
                  <img class="lazyloadt4s t4s-lz--fadeIn" data-src="{{ image | image_url: height: img_size }}" data-widths="[400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="{{ image.img_size }}" height="{{ image.img_size }}" alt="{{ image.alt | escape }}" loading="lazy">
                  <span class="lazyloadt4s-loader"></span>
                {%- endif -%}
              </span>
              {%- if show_txt -%}<span class="t4s-toolbar-label">{{ block.settings.title }}</span>{%- endif -%}
            </a>
          </div>
      {%- endcase -%}
  {%- endfor -%}
</div>
{%- endif -%}
{% schema %}
{
  "name": "Sticky toolbar mobile",
  "class": "t4s-section t4s-toolbar-mobile t4s-section-admn-fixed-",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_toolbar",
      "label": "Enable sticky toolbar mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_txt",
      "label": "Show text under icon",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show border within toolbar item",
      "default": true
    },
    {
      "type": "header",
      "content": "+ Color options"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon color",
      "default": "#293341"
    },
    {
      "type": "color",
      "id": "label_color",
      "label": "Label color",
      "default": "#293341"
    },
    {
      "type": "color",
      "id": "count_bg_color",
      "label": "Count background color",
      "default": "#293341"
    },
    {
      "type": "color",
      "id": "count_text_color",
      "label": "Count text color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#eee"
    }
  ],
  "blocks": [
    {
      "type": "shop",
      "name": "Shop",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Shop"
        },
        {
          "type": "collection",
          "id": "link",
          "label": "Link (optional)"
        }
      ]
    },
    {
      "type": "wish",
      "name": "Wishlist",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Wishlist"
        }
      ]
    },
    {
      "type": "compe",
      "name": "Compare",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Compare"
        }
      ]
    },
    {
      "type": "cart",
      "name": "Cart",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Cart"
        }
      ]
    },
    {
      "type": "account",
      "name": "Account",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Account"
        }
      ]
    },
    {
      "type": "search",
      "name": "Search",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Search"
        }
      ]
    },
    {
      "type": "blog",
      "name": "Blog",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Blog"
        },
        {
          "id": "blog",
          "type": "blog",
          "label": "Blog"
        }
      ]
    },
    {
      "type": "filter",
      "name": "Filter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Filter"
        },
        {
          "type": "paragraph",
          "content": "Only show when page has 'Filter'"
        }
      ]
    },
    {
      "type": "sidebar",
      "name": "Sidebar",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sidebar"
        },
        {
          "type": "paragraph",
          "content": "Only show when page has 'Sidebar'"
        }
      ]
    },
    {
      "type": "nav",
      "name": "Menu",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Menu"
        }
      ]
    },
    {
      "type": "home",
      "name": "Home",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Home"
        }
      ]
    },
    {
      "type": "link",
      "name": "Link Custom",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Custom"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "default": "/"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "shop"
      },
      {
        "type": "wish"
      },
      {
        "type": "cart"
      },
      {
        "type": "account"
      },
      {
        "type": "search"
      }
    ]
  }
}
{% endschema %}